@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Noto+Sans&family=Nunito:wght@600&family=Play&family=Righteous&family=The+Nautigal&display=swap");
@font-face {
  font-family: "sogand";
  src: url("../../fonts/sogand/SOGAND.ttf") format("ttf");
  src: url("../../fonts/sogand/SOGAND.eot") format("eot");
  src: url("../../fonts/sogand/SOGAND.woff") format("woff");
  src: url("../../fonts/sogand/SOGAND.woff2") format("woff2");
}
@font-face {
  font-family: "vazir-regular";
  src: url("../../fonts/vazir/Vazir-Regular.ttf") format("ttf");
  src: url("../../fonts/vazir/Vazir-Regular.eot") format("eot");
  src: url("../../fonts/vazir/Vazir-Regular.woff") format("woff");
  src: url("../../fonts/vazir/Vazir-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "lalezar";
  src: url("../../fonts/lalezar/Lalezar-Regular.ttf") format("ttf");
  src: url("../../fonts/lalezar/Lalezar-Regular.eot") format("eot");
  src: url("../../fonts/lalezar/Lalezar-Regular.woff") format("woff");
  src: url("../../fonts/lalezar/Lalezar-Regular.woff2") format("woff2");
}
body {
  overflow-x: hidden;
  padding: 0 !important;
  unicode-bidi: bidi-override !important;
  direction: unset !important;
  text-align: right;
}

.slick-slider *, .uploadcare--dialog * {
  direction: ltr;
}

:not(.slick-slider *, .uploadcare--dialog *) {
  text-align: right;
  direction: rtl;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero::after {
  clear: both;
  display: table;
  content: "";
}

.modal-open .modal, .modal-open .modal *, .modal .modal-open * {
  overflow-y: hidden;
}

.modal, .modal * {
  border-radius: 0;
}
.modal h5 {
  font-family: "lalezar";
  color: #00366b;
  font-size: 2rem;
}
.modal .modal-content {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 7px #666;
  border: none;
}

a {
  font-family: "vazir-regular" !important;
}
a:hover {
  text-decoration: none;
}

i {
  vertical-align: middle;
}

p {
  font-family: "vazir-regular";
}

.require {
  color: tomato;
}

input, textarea, button, span.btn, small, address, .details span, q, strong {
  font-family: "vazir-regular" !important;
}

.avatar {
  font-size: 1rem;
  width: 48px;
  height: 48px;
  display: inline-flex;
  color: #fff;
  border-radius: 50%;
  background-color: #adb5bd;
  align-items: center;
  justify-content: center;
}

label, .label {
  font-family: "lalezar";
  font-size: 1.3rem;
}

.toTop {
  text-align: center;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 9999999;
}
.toTop a {
  background-color: dodgerblue;
  border-radius: 50%;
  padding: 13px 14px;
}
.toTop a:hover {
  background-color: #004384;
}

.brand-name {
  font-family: "Righteous", cursive !important;
  color: dodgerblue;
  font-size: 1.6rem;
}

.nav-link:not(.active-nav) {
  color: #efefef;
}
.nav-link:not(.active-nav):hover {
  color: #bcbcbc;
}

.active-nav {
  color: dodgerblue;
}
.active-nav:hover {
  color: #0077ea;
}

.hero .nav-side {
  z-index: 9999999 !important;
  display: none;
}
@media only screen and (min-width: 1001px) {
  .hero .nav-side {
    display: none !important;
  }
}
.hero .nav-btn {
  background-color: transparent !important;
  color: #ececec;
  opacity: 0.7;
}
.hero .nav-btn:hover {
  color: #ececec !important;
  opacity: 1 !important;
}
@media only screen and (min-width: 1001px) {
  .hero .nav-btn {
    display: none;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1000px) {
  .hero nav {
    display: none;
  }
}
.hero nav a.nav-link {
  font-family: "vazir-regular";
  opacity: 0.8;
}

footer {
  background-color: #020a26;
}
footer h5 {
  font-size: 2rem !important;
}

body {
  background-color: #000;
}

.card-showInfo {
  margin-bottom: 30px;
}
.card-showInfo .card {
  background-color: transparent;
}
.card-showInfo h4 {
  font-family: "lalezar";
  color: #b3b3b3;
}
.card-showInfo p {
  font-family: "vazir-regular";
  color: #868585;
}

body {
  background-color: #000315 !important;
}

.ranking {
  padding: 2rem;
}
.ranking hr {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.ranking .best {
  font-family: "lalezar";
  color: #efefef;
  font-size: 1.5rem;
}

/*# sourceMappingURL=exam.css.map */
